body {
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}
button {
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}
.flex {
    display: flex;
}
.font11 {
    font-size: 11px;
}
.white {
    color: #FFF;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #888;
  }
  ::-webkit-scrollbar-thumb {
    background: aqua;
  }
h4 {
    margin: 0 0 10px 0;
}
a {
    text-decoration: none;
}
.bold {
    font-weight: 700;
}
.row {
    display: flex;
    flex-direction: row !important;
}
.column {
    display: flex;
    flex-direction: column !important;
}
.margin-right {
    margin-right: 60px !important;
}
nav {
    padding: 30px 40px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
}
#logo {
    height: 20px;
    width: 20px;
}
#nav-buttons-wrapper {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
}
.nav-button {
    color: #000;
    display: block;
    font-size: 14px;
    text-decoration: none;
}
.active {
    color: aqua;
}
article {
    padding: 50px 0;
    background-color: rgb(107 102 102 / 10%);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-header {
    font-weight: 700;
    margin: 0 0 20px 0;
    font-size: 32px;
}
.article-sub-content {
    text-align: center;
    max-width: 35%;
    margin: auto;
}
section {
    display: flex;
    flex-direction: row;
}
.gallery-column {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #00ffff;
}
.gallery-item {
    width: 100%;
    cursor: pointer;
}
.gallery-item:hover {
    background-color: #00ffff;
    opacity: 0.2;
}
.tooltip {
    justify-content: space-around;
    background-color: #10c9c3;
    padding: 20px;
    flex-direction: row;
    width: 100%;
}
.background-image {
    justify-content: center;
    width: 100%;
    height: 300px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/woman-background.jpg');
}
.tooltip-item {
    flex-direction: row;
    align-items: center;
}
.tooltip-icon {
    width: 35px;
    height: 35px;
}
.tooltip-text {
    font-size: 12px;
    font-weight: 700;
    padding: 10px 10px 0 10px;
    color: #FFF;
    flex-direction: column;
}
.about-paint {
    width: 40%;
    max-height: 450px;
}
.about-text-content {
    padding: 110px 200px 110px 110px;
}
.aside-about-footer {
    width: 100%;
    padding: 60px 0;
}
footer {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.9);
    color: #FFF;
    padding: 35px 60px;
}
.footer-content {
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    margin: 0 0 10px 0;
}
.footer-block {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mobile-hamburger {
    display: none;
}
#contact-content {
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#contact-description {
    flex-direction: column;
    width: 33%;
}
form {
    flex-direction: column;
}
input, textarea, select {
    width: 100%;
    padding: 12px 20px;
    border: none;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    outline: none;
    border-radius: 0;
    box-sizing: border-box;
}
input:first-child {
    margin-right: 20px;
}
textarea {
    resize: none;
    min-height: 150px;
}
input:focus, textarea:focus {
    border: 2px solid #00ccff;
}
iframe {
    filter: grayscale(100%);
    width: 100%;
    margin-top: 70px;
}
input[type=submit] {
    width: 180px;
    background-color: #10c9c3;
    color: #FFF;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 0;
    cursor: pointer;
}
.double-inputs {
    display: flex;
    flex-direction: row;
}

.close-bttn-visible {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #00ffff;
    position: absolute;
    top: 50px;
    right: 50px;
}
#modal {
    display: none;
    width: 100%;
    height: 500px;
    position: relative;
}
#close-modal-bttn {
    position: absolute;
    top: -26px;
    left: 33px;
}
.slide-bttn:hover {
    height: 60px;
    width: 60px;
}
.slide-bttn-left {
    left: 20px;
    top: 50%;
}
.slide-bttn-right {
    right: 20px;
    top: 50%;
}
.modal-content {
    flex-direction: row;
}
.side-modal-right {
    width: 50%;
    position: relative;
}
.side-modal-left {
    padding: 20px 20px 20px 40px;
    width: 50%;
}
.slides {
    width: 100%;
    height: 500px;
}
.slide-bttn {
    border: none;
    background-color: #00ffff;
    height: 50px;
    width: 50px;
    outline: none;
    border-radius: 12px;
    color: #FFF;
    font-size: 30px;
    position: absolute;
    transition: all 0.5s;
}

.tooltip-row {
    width: 50%;
    justify-content: space-around;
}
.about-me {
    flex-direction: row;
}
  
@media(max-width: 1000px) {
    nav {
        overflow: hidden;
        position: relative;
        flex-direction: column;
    }
    .mobile-hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav #nav-buttons-wrapper {
       display: none;
       width: 100%;
       padding: 30px 0 0 0;
    }
    .nav-button {
        margin-bottom: 15px;
        font-size: 16px;
    }
    section {
        flex-flow: row wrap;
    }
   .gallery-column {
       width: 50%;
   }
   #contact-content {
      flex-direction: column;
      align-items: center;
      margin: 0 10px;
   }
   .double-inputs {
       flex-direction: column;
   }
   form {
       width: 100%;
   }
   #contact-description {
       width: 90%;
       text-align: center;
   }
   #modal {
       height: auto;
   }
   .modal-content {
       flex-direction: column;
   }
   .side-modal-right {
       width: 100%;
   }
   .side-modal-left {
       width: auto !important;
       text-align: center;
   }
   .tooltip {
       flex-direction: column;
   } 
   footer {
       flex-direction: column;
   }
   .tooltip-row {
        justify-content: space-between;
        width: 100%;
   }
   .about-me {
        flex-direction: column;
    }
    .about-paint {
        width: auto;
    }
    .about-text-content {
        padding: 50px 20px;
        text-align: center;
    }
    .article-sub-content {
        width: 90%;
        max-width: 90%;
    }
    .aside-about-footer {
        padding: 0 0 40px 0;
    }
    article {
        text-align: center;
    }
    #close-modal-bttn {
        top: 13px;
        left: auto;
        right: 12px;
    }
}